<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <title>受講生情報一覧</title>
</head>
<body>
<h1>受講生情報一覧</h1>
<div th:if="${message}" style="background-color: LightGreen; color: DarkGreen; padding: 5px;" th:text="${message}"></div>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>カナ名</th>
    <th>ニックネーム</th>
    <th>メールアドレス</th>
    <th>地域</th>
    <th>生年月日</th>
    <th>性別</th>
    <th>備考</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="studentDetail : ${students}">
    <td th:text="${studentDetail.student.id}">1</td>
    <!-- 削除済みでない場合はリンク表示 -->
    <td>
      <a th:if="${!studentDetail.student.isDeleted}"
         th:href="@{/student/{id}(id=${studentDetail.student.id})}" th:text="${studentDetail.student.name}">山田太郎</a>
    <!-- 削除済みの場合はリンク非表示 -->
      <span th:if="${studentDetail.student.isDeleted}" th:text="${studentDetail.student.name}">山田太郎</span>
      <span th:if="${studentDetail.student.isDeleted}" style="color: gray;">（削除済み）</span>
    </td>
    <td th:text="${studentDetail.student.nameKana}">ヤマダタロウ</td>
    <td th:text="${studentDetail.student.nickname}">タロー</td>
    <td th:text="${studentDetail.student.email}">taro@example.com</td>
    <td th:text="${studentDetail.student.area}">東京都足立区</td>
    <td th:text="${#temporals.format(studentDetail.student.birthDate, 'yyyy/MM/dd')}">2010/12/17</td>
    <td th:text="${studentDetail.student.gender}">男性</td>
    <td th:text="${studentDetail.student.remark}">特になし</td>
    <td>
      <form th:if="${!studentDetail.student.isDeleted}" th:action="@{/students/{id}/delete(id=${studentDetail.student.id})}" method="post">
        <button type="submit">削除</button>
      </form>
      <form th:if="${studentDetail.student.isDeleted}" th:action="@{/students/{id}/restore(id=${studentDetail.student.id})}" method="post">
        <button type="submit">復元</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
